<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-text">©2014 tulusdriyo. All Rights Reserved.</div>
      <div class="footer-links">
          <a class="footer-links-item" href="">
              <i class="fab fa-linkedin-in"></i>
          </a>
          <a class="footer-links-item" href="">
              <i class="fab fa-twitter"></i>
          </a>
          <a class="footer-links-item" href="">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a class="footer-links-item" href="">
              <i class="fab fa-twitter"></i>
          </a>
          <a class="footer-links-item" href="">
              <i class="fab fa-linkedin-in"></i>
          </a>
      </div>
  </div>
  </div>
</footer> 